<header class="header">

    <!-- Logo -->
    <div class="logo">
        <a href="#">
            <span class="orange">BOUTIQUE</span>
            <span> DE FLEURS</span>
        </a>
    </div>

    <!-- Partie centrale -->
    <div class="header-center">

        <nav class="nav-links">
            <a href="#">Contact</a>
        </nav>

        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input
                type="text"
                placeholder="Rechercher des produits..."
            >
        </div>

    </div>

    <!-- Desktop -->
    <div class="actions">

        <button class="icon-btn">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>

        <a href="#" class="login">
            Se connecter
        </a>

        <button class="register">
            S'inscrire
        </button>

    </div>

    <!-- Mobile -->
    <div class="mobile-actions">

        <button class="icon-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button class="icon-btn">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>

        <button class="icon-btn"   (click)="toggleMenu()">
             <i class="fa-solid fa-bars"></i>
        </button>

    </div>
    <div
    class="mobile-menu"
    [class.open]="menuOpen"
>

    <button
        class="close-btn"
        (click)="closeMenu()"
    >
        <i class="fa-solid fa-xmark"></i>
    </button>

    <a href="#">Contact</a>

    <a href="#">Se connecter</a>

    <button class="register">
        S'inscrire
    </button>

</div>

<div
    class="overlay"
    *ngIf="menuOpen"
    (click)="closeMenu()"
></div>

</header>