<header class="header">

    <!-- Logo -->
    <div class="logo">
        <a href="#">
            <span class="orange">BOUTIQUE</span>
            <span> DE FLEURS</span>
        </a>
    </div>

    <!-- Navigation -->
    <nav class="nav-links">
        <a href="#">Contact</a>
    </nav>

    <!-- Recherche -->
    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            placeholder="Rechercher des produits..."
        >

    </div>

    <!-- Actions -->
    <div class="actions">

        <button class="icon-btn">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>

        <a href="#" class="login">
            Se connecter
        </a>

        <button class="register">
            S'inscrire
        </button>

    </div>

    <!-- Menu mobile -->
    <div class="mobile-actions">

    <button class="icon-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>

    <button class="icon-btn">
        <i class="fa-solid fa-cart-shopping"></i>
    </button>

    <button class="icon-btn">
        <i class="fa-solid fa-bars"></i>
    </button>

</div>

</header>