.hero{

    width:100%;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:45px 20px 30px;

}

.hero-content{

    width:650px;

    text-align:center;

}

.hero h1{

    font-size:34px;

    color:#F5A000;

    font-weight:700;

    margin-bottom:15px;

}

.hero h1 span{

    color:#F5A000;

}

.hero p{

    width:560px;

    margin:auto;

    font-size:15px;

    color:#555;

    line-height:1.8;

}

/******** Responsive ********/

@media(max-width:768px){

    .hero{

        padding:35px 15px;

    }

    .hero-content{

        width:100%;

    }

    .hero h1{

        font-size:28px;

    }

    .hero p{

        width:100%;

        font-size:14px;

    }

}