.products{

    max-width:1200px;

    margin:40px auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    padding:0 15px;
    font-weight: bold;

}

@media(max-width:992px){

    .products{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:600px){

    .products{

        grid-template-columns:1fr;

    }

}